<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xmu.crms.mapper.CourseMapper">
    <!--根据教师查找Course<List>-->
    <resultMap type="Course" id="CourseList">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="description" property="description"/>
        <result column="report_percentage" property="reportPercentage"/>
        <result column="presentation_percentage" property="presentationPercentage"/>
        <result column="five_point_percentage" property="fivePointPercentage"/>
        <result column="four_point_percentage" property="fourPointPercentage"/>
        <result column="three_point_percentage" property="threePointPercentage"/>
        <association column="teacher_id" property="teacher" select="getUserByUserId"/>
    </resultMap>

    <resultMap type="ClassInfo" id="ClassInfoList">
        <!--<id column="id" property="id"/>-->
        <!--<result column="name" property="name"/>-->
        <!--<result column="site" property="site"/>-->
        <!--<result column="class_time" property="classTime"/>-->
        <!--<result column="report_percentage" property="reportPercentage"/>-->
        <!--<result column="presentation_percentage" property="presentationPercentage"/>-->
        <!--<result column="five_point_percentage" property="fivePointPercentage"/>-->
        <!--<result column="four_point_percentage" property="fourPointPercentage"/>-->
        <!--<result column="three_point_percentage" property="threePointPercentage"/>-->
        <association column="course_id" property="course" select="getCourseByCourseId"/>
    </resultMap>

    <resultMap type="User" id="UserList">
        <!--<id column="id" property="id"/>-->
        <!--<result column="phone" property="phone"/>-->
        <!--<result column="wechat_id" property="wechatId"/>-->
        <!--<result column="openid" property="openid"/>-->
        <!--<result column="avatar" property="avatar"/>-->
        <!--<result column="password" property="password"/>-->
        <!--<result column="name" property="name"/>-->
        <!--<result column="gender" property="gender"/>-->
        <!--<result column="type" property="type"/>-->
        <!--<result column="number" property="number"/>-->
        <!--<result column="education" property="education"/>-->
        <!--<result column="title" property="title"/>-->
        <!--<result column="email" property="email"/>-->
        <association column="school_id" property="school" select="selectSchoolBySchoolId"/>
    </resultMap>

    <select id="selectSchoolBySchoolId" resultType="xmu.crms.entity.School">
        SELECT *
        FROM school
        WHERE id = #{id}
    </select>

    <select id="getUserByUserId" resultMap="UserList">
        SELECT
            id,
            phone,
            wechat_id,
            openid,
            avatar,
            password,
            name,
            school_id,
            gender,
            type,
            number,
            education,
            title,
            email
        FROM user_info
        WHERE id = #{userId}
    </select>

    <select id="listCourseByUserId" resultMap="CourseList">
        SELECT
            id,
            name,
            start_date,
            end_date.decsription,
            report_percentage,
            presentation_percentage,
            five_point_percentage,
            four_point_percentage,
            three_point_percentage
        FROM course
        WHERE teacher_id = #{id}
    </select>

    <insert id="insertCourseByUserId" parameterType="xmu.crms.entity.Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            course (
                name,
                start_date,
                end_date,
                teacher_id,
                description,
                report_percentage,
                presentation_percentage,
                five_point_percentage,
                four_point_percentage,
                three_point_percentage
            )
        VALUES (
            #{name},
            #{startDate},
            #{endDate},
            #{teacher.id},
            #{description},
            #{reportionPercentage},
            #{persentationPercentage},
            #{fivePointPercentage},
            #{fourPointPercentage},
            #{threePointPercentage}
        )
    </insert>

    <select id="getCourseByCourseId" parameterType="java.math.BigInteger" resultMap="CourseList">
		select id,name,start_date,end_date,teacher_id,description,report_percentage,presentation_percentage,five_point_percentage,four_point_percentage,three_point_percentage
		from course
        WHERE id = #{courseId,jdbcType=BIGINT}
    </select>

    <update id="updateCourseByCourseId">
    UPDATE course
    SET
        <if test="name!=null">`name` = #{name,jdbcType=VARCHAR},</if>
        <if test="startDate!=null"> start_date = #{startDate,jdbcType=DATE},</if>
        <if test="endDate!=null"> end_date = #{endDate,jdbcType=DATE},</if>
        <if test="teacher!=null"> teacher_id = #{teacher.id,jdbcType=BIGINT},</if>
        <if test="description!=null"> description = #{description,jdbcType=VARCHAR},</if>
        <if test="reportPercentage!=null"> report_percentage = #{reportPercentage,jdbcType=INTEGER},</if>
        <if test="presentationPercentage!=null"> presentation_percentage = #{presentationPercentage,jdbcType=INTEGER},</if>
        <if test="fivePointPercentage"> five_point_percentage = #{fivePointPercentage,jdbcType=INTEGER},</if>
        <if test="fourPointPercentage"> four_point_percentage = #{fourPointPercentage,jdbcType=INTEGER},</if>
        <if test="threePointPercentage"> three_point_percentage = #{threePointPercentage,jdbcType=INTEGER}</if>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteCourseByCourseId" parameterType="java.math.BigInteger">
        DELETE FROM course
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="listCourseByCourseName" parameterType="java.lang.String" resultMap="CourseList">
        SELECT
            id,
            name,
            start_date,
            end_date,
            teacher_id,
            description,
            report_percentage,
            presentation_percentage,
            five_point_percentage,
            four_poing_percentage,
            three_point_percentage
        FROM course
        WHERE name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="listCourseIdByCourseName" parameterType="java.lang.String" resultMap="CourseList">
        SELECT id
        FROM course
        WHERE name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="listClassByCourseId" parameterType="java.math.BigInteger" resultMap="ClassInfoList">
        SELECT
            id,
            name,
            site,
            class_time,
            report_percentage,
            presentation_percentage,
            five_point_percentage,
            four_poing_percentage,
            three_point_percentage
        FROM class_info
        WHERE course_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getUserIdByUserName" parameterType="java.lang.String" resultMap="UserList">
        SELECT id
        FROM user_info
        WHERE name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="listCourseIdByTeacherId" parameterType="java.math.BigInteger" resultMap="CourseList">
        SELECT id
        FROM course
        WHERE teacher_id = #{TeacherId,jdbcType=BIGINT}
    </select>


</mapper>